.App {
  text-align: center;
}

section {
  display: grid;
  grid-gap: 0.5rem;
}

article {
  background-color: aqua;
  color: white;
  padding: 1rem;
}

@media (min-width: 668px) {
  section {
    grid-template-columns: auto auto auto;
  }
}
